/* This file is for your main application css. */
@import "bootstrap";
@import 'flatpickr';

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.event-name {
  font-weight: bold;
  //white-space: nowrap;
}

#login-id {
  margin: 0px 5px 0px 5px;
  font-weight: bold;
}

.view-event-link {
  position: absolute;
  bottom: 3px;
}